{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h4>Release Assignment</h4>
    <p><a class="btn btn-success btn-sm" href="/assignment/create/release/setup" role="button">Create Release</a> Add New Installer</p>
    <p><a class="btn btn-danger btn-sm" href="/assignment/update/release/setup" role="button">Update Release</a> Update Installer available from Dashboard</p>
    <p><a class="btn btn-success btn-sm" href="/assignment/create/release/rollout" role="button">Create Rollout</a> Create Installer Assignment</p>
    <p><a class="btn btn-danger btn-sm" href="/assignment/update/release/rollout" role="button">Update Rollout</a> Enable/Disable Installer Assignment</p>
  </div>
</div>
{% endblock content %}