{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h4 class="col-sm-4 my-3">Add Installer</h4>
    <form action="/assignment/create/release/setup" method="POST">
      <div class="form-group col-sm-12 my-1">
        <label for="s3path">Installer S3 Path</label>
        <input type="text" class="form-control" name="name" id="s3path" placeholder="S3 Path to Installer">
      </div>
      <div class="form-group col-sm-12 my-1">
        <label for="version">Installer Version</label>
        <input type="text" class="form-control" name="name" id="version" placeholder="Installer Version">
      </div>
      <div class="form-group col-sm-12 my-1">
        <label for="platform">Installer Platform</label>
        <select class="form-control" id="platform">
          <option>windows</option>
          <option>linux</option>
          <option>mac</option>
        </select>
      </div>
      <div class="form-group col-sm-12 my-1">
        <label for="region">Region/Pod</label>
        <select class="form-control" id="region">
          <option>us001</option>
          <option>us002</option>
          <option>ca001</option>
          <option>eu001</option>
          <option>au001</option>
        </select>
      </div>
      <div class="col-sm-2 my-3">
        <button type="submit" class="btn btn-primary btn-block">Add</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}