{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h3>Release Manager</h3>
    <p>The Release Manager could be broken down into the following components:</p>
    <p class="lead">
      <p><a class="btn btn-primary btn-sm" href="/customers" role="button">Customers</a> Customer Data for Release</p>
      <p><a class="btn btn-success btn-sm" href="/lists" role="button">Lists</a> Lists of Customers per Phase</p>
      <p><a class="btn btn-danger btn-sm" href="/assignment" role="button">Assignment</a> Assigning Installer to List of Customers</p>
    </p>
  </div>
</div>
{% endblock content %}