{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h3>Release Coordinator</h3>
    <p>The Release Manager could be broken down into the following components:</p>
    <p class="lead">
      <p><a class="btn btn-primary btn-sm" href="/customers" role="button">Database</a> Customer Data for Release</p>
      <p><a class="btn btn-success btn-sm" href="/lists" role="button">Release Profiles</a> Customer Lists for each Release Phase</p>
      <p><a class="btn btn-danger btn-sm" href="/assignment" role="button">Release Manager</a> Assign Installer to a Release Profile</p>
    </p>
  </div>
</div>
{% endblock content %}